[Desktop Entry]
Name=Tegata
Comment=Portable encrypted authenticator
Exec=/usr/bin/tegata-gui
Icon=tegata-gui
Terminal=false
Type=Application
Categories=Utility;Security;
